/* Universal Styles */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: white;
}

h1,
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-size: 2rem;
  margin: 26.5px 0;
}

h3,
h4,
p {
  margin: 16px 0;
}

.center {
  margin: 0 auto;
}

.left {
  text-align: left;
}

/* Header Styles */

header {
  display: flex;
  width: 100%;
  height: 35vh;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(218, 28%, 15%);
}

header figure {
  margin-left: 60px;
}

header nav {
  margin-right: 55px;
}

header nav span {
  padding: 25px;
}

button {
  padding: 16px 80px;
  margin: 16px 0 16px;
  background-image: linear-gradient(
    to bottom right,
    hsl(176, 68%, 64%),
    hsl(198, 60%, 50%)
  );
  color: white;
  border-radius: 30px;
  font-weight: bold;
}

/* Main Styles */

main {
  background-color: hsl(218, 28%, 13%);
}

/* Intro Styles */

#intro {
  position: relative;
  background-color: hsl(218, 28%, 15%);
  z-index: 1;
}
#intro figure img {
  display: block;
  margin: auto;
}

#intro h2 {
  width: 40%;
  line-height: 1.5em;
  margin: 28.5px auto;
}

#intro p {
  width: 35%;
  margin: 0 auto 16px;
}

.curvy {
  position: relative;
  margin: -220px 0 -5px;
  z-index: -1;
}

/* Features Style */

#features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70%;
}

.feature {
  width: 45%;
  padding-bottom: 80px;
}

.feature figure {
  height: 92.8px;
}

/* Productivity Styles */

#productivity {
  display: flex;
  width: 88%;
}

#productivity .content {
  text-align: left;
  width: 44%;
  margin: auto;
}

#productivity .content h2 {
  width: 55%;
}

#productivity .content a {
  text-underline-offset: 10px;
  color: hsl(176, 68%, 64%);
}
#productivity .content img {
  margin-top: 8px;
  vertical-align: middle;
  padding: 0 0 5px 5px;
  border-bottom: 1px solid hsl(176, 68%, 64%);
}

/* Testimonials Styles */

.quotes {
  position: absolute;
  left: 100px;
  top: -35px;
  z-index: -1;
}

#testimonials {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 165px auto;
  z-index: 1;
}

.testimonial {
  background-color: hsl(219, 30%, 18%);
  width: 23%;
  padding: 25px 25px 10px;
  margin: 0 20px;
  border-radius: 5px;
  box-shadow: 12px 3px 2px hsl(217, 28%, 14%), 3px 12px 2px hsl(217, 28%, 14%);
}

.profile {
  display: flex;
  font-size: 12px;
}

.profile img {
  align-self: center;
  border-radius: 50%;
  max-width: 25px;
  max-height: 25px;
  margin: 8px;
}

/* Call-to-Action Styles */
